version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: yustika/dailist-app:dev
    ports:
      - "8081:80"
    environment:
      APP_ENV: local
      APP_DEBUG: "true"
      DB_CONNECTION: mysql
      DB_HOST: db
      DB_PORT: 3306
      DB_DATABASE: dailist
      DB_USERNAME: root
      DB_PASSWORD: root
    depends_on:
      - db

  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: dailist
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"
    volumes:
      - dailist_db:/var/lib/mysql

volumes:
  dailist_db:
